<div style="margin-bottom: 0.5em">
  <h3 style="text-align:center;color: rgb(208, 20, 39)">
    <i class="fa fa-check-circle"></i>
    This Page is Built With and Routed to Using AngularJS
  </h3>
</div>
<br>
<div>
  <h1>Please Login</h1>
</div>


<p>Use username "a" to login</p>
<form class="form">
  <div class="row">
    <div class="form-group col-sm-6">
      <input type="text" autofocus placeholder="username" ng-model="$ctrl.username" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-primary" ng-click="$ctrl.login()">Login</button>
    </div>
  </div>
</form>